@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Open Blog Portal</h1>
    <hr />
    <h2 style="color: darkcyan">Сайт с публикацией на Azure через GitHub</h2>
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
